@model IEnumerable<Storage.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div style="display:inline-block">
    <span>
        <a asp-action="Create">Create New</a>
    </span>
    <span>
        <a asp-action="Inventory">Inventory</a>
    </span>
</div>

<form asp-action="SearchCategory">
    <div class="input-group mb-3 mt-3" style="display:flex;align-items:center">
        <label for="searchField">Search by category: </label>
        <input type="text" class="form-control ms-2" name="searchString" placeholder="Enter a category" />
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </div>
</form>

<partial name="_ProductList" model="Model" />
