@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div style="display:inline-block">
    <span>
        <a asp-action="Create">Create New</a>
    </span>
    <span>
        <a asp-action="Inventory">Inventory</a>
    </span>
</div>

<form asp-action="Search">
    <div class="input-group mb-3 mt-3 container">
        <div class="row">
            <div class="col-3 mb-1">
                <label for="searchCategory">Category:</label>
            </div>
            <div class="col-6 mb-1">
                <label for="searchName">Product name:</label>
            </div>
            <div class="col-3"></div>
            <div class="w-100"></div>
            <div class="col-3">
                <select class="mt-1" name="searchCategory" id="searchCategory">
                    <option value="">All categories</option>
                    @foreach (var category in Model.Select(product => product.Category).Distinct())
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="searchName" id="searchName" />
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </div>
</form>

<partial name="_ListProducts" model="Model" />
